<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8" name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=0.25, maximum-scale=4.0, user-scalable=yes" />
        
        <link href="style.css" rel="stylesheet" type="text/css" />
		
	</head>

	<body style="background-color: #000000; font-family: MonospaceTypewriter, monospace ">	
	<br>
	<div id="app"><div id="mainbody" class="mask">
		<title v-if="!player.PL1unlock">数据增量重制版(V2) - {{notation(player.data)}}数据</title>
		<title v-if="player.PL1unlock && !player.PL2unlock">数据增量重制版(V2) - {{notation(player.PL1info)}}世界信息</title>
		<title v-if="player.PL2unlock && !player.PL2upg[2]">数据增量重制版(V2) - {{notation(player.PL2info)}}宇宙信息</title>
		<title v-if="player.PL2upg[2] && !player.permupg.includes(29)">数据增量重制版(V2) - {{notation(player.godstar)}}神星</title>
		<title v-if="player.permupg.includes(27) && !player.PL3unlock">数据增量重制版(V2) - {{notation(player.PL2info)}}宇宙信息</title>
		<title v-if="player.PL3unlock && !player.permupg.includes(39)">数据增量重制版(V2) - {{notation(player.data)}}数据</title>
		<title v-if="player.permupg.includes(39) && (!player.data.gte('ee38') && !player.openstdmod)">数据增量重制版(V2) - {{notation(player.PL3info)}}混沌信息</title>
		<title v-if="player.data.gte('ee38') && !player.PL4unlock">数据增量重制版(V2) - {{notation(player.suppupg[0])}}基础物质</title>
		<title v-if="player.PL4unlock && !player.openstdmod">数据增量重制版(V2) - {{notation(player.PL4data)}}虚空数据</title>
		<title v-if="player.openstdmod">数据增量重制版(V2) - {{notation(player.data)}}数据</title>
		
		
		<div style="width: 100%; height: 100%; overflow-y: auto; overflow-x: auto">
		<div style="width: 15%; height: 100%; overflow-y: auto; overflow-x: hidden; position: absolute; top: 0; left: 0%;">
			<button class="pagebt" onclick="chpage(1)">传输节点</button>
			<button class="pagebt" onclick="chpage(13)" id="Stdmodpbt">模型</button>
			<button class="pagebt" onclick="chpage(2)">层级</button>
			<button class="pagebt" onclick="chpage(3)">统计</button>
			<button class="pagebt" onclick="chpage(4)" style="background-color: blue;" id="PL1pbt">世界</button>
			<button class="pagebt" onclick="chpage(5)" style="background-color: purple;" id="PL2pbt">宇宙</button>
			<button class="pagebt" onclick="chpage(6)" style="background-color: gold;" id="PL3pbt">混沌</button>
			<button class="pagebt" onclick="chpage(7)" style="background-color: white; color: black;" id="PL4pbt">虚空</button>
			<button class="pagebt" onclick="chpage(8)" style="background-color: #ff0000; color: #00ffff;" id="PL5pbt">天理</button>
			<button class="pagebt" onclick="chpage(9)" style="background-color: green; " id="PL6pbt">现实</button>
			<button class="pagebt" onclick="chpage(10)" style="background-image: url('beyond.jpg');
			background-size: cover;
			background-position: center; color: black; font-weight: bold;" onclick="chpage(12)" id="PL7pbt">超越</button>
			<button class="pagebt" onclick="chpage(11)" id="pagebt11">杂项</button>
		</div>
		<div style="width: 85%; height: 100%; overflow-y: auto; overflow-x: auto; position: absolute; top: 0; left: 15%;" id="textbody">
		<div align="center" class="news">
			<span class="newstext" id="newstext">这是一条不滚动新闻</span>
		</div>
		<p align="center" class="ftsz3"><span>你有 {{ notation(player.data, 0) }} 数据</span><br>
		<span v-if="player.data.gte(getdataspillstart())" class="ftsz2 spill">在达到{{ notation(getdataspillstart()) }}数据/s后，数据将溢出！获取速度变为{{ notation(getdataspillroot(getjdx()[0].mul(player.jdnum[0]))) }}次方根</span></p>
		<p align="center" class="ftsz2" style="animation: vdata 2s infinite;" id="vdataview"><span>你有{{ notation(player.PL4data, 0) }}虚空数据(+{{ notation(getvdataps(), 0) }}/s)</span></p>
		<p align="center" class="ftsz2"><span>混沌以前全局速度：×{{ notation(getPL3globalspeed()) }}</span></p>
		<p align="center" class="ftsz2" id="offline"></p>
		<p align="center" v-if="is_endgame()" class="ftsz2" style="color: gold;">已达到版本结局，请等待游戏更新</p>
		<p align="center">
		</p>
		
		<div id="page1">
			<p align="center">
				<button class="spagebt" onclick="chspage(1)">传输节点</button>
				<button class="spagebt" onclick="chspage(2)" id="spagebt2_1">星辰节点</button>
				<button class="spagebt" onclick="chspage(3)" id="spagebt3_1">永久升级</button>
			</p>
			<div id="spage1_1">
				<table align="center">
					<td>
						<button class="autoboost" id="autoboostbt" onclick="chautoboost()"><span id="autoboostbts"></span></button>
					</td>
					<td>
						<button class="autoboost" id="autoboost2bt" onclick="chautoboost2()"><span id="autoboost2bts"></span></button>
					</td>
					<td>
						<button class="autoboost" id="autoboost3bt" onclick="chautoboost3()"><span id="autoboost3bts"></span></button>
					</td>
					<tr>
					<td>
						<button class="boostbt" id="boostbt" onclick="buyboost()"><span id="boostscaling"></span>跃迁{{notation(player.boost, 0)}}
						<br/>重置数据和传输节点，但提升跃迁。<span id="boosteffect"></span><br/>成本：{{notation(getboostcost(), 0)}}数据</button>
					</td>
					<td>
						<button class="boostbt" id="boost2bt" onclick="buyboost2()">二重跃迁{{notation(player.boost2, 0)}}
						<br/>重置跃迁，但提升二重跃迁。<span id="boost2effect"></span><br/>成本：{{notation(getboost2cost(), 0)}}跃迁</button>
					</td>
					<td>
						<button class="boostbt" id="boost3bt" onclick="buyboost3()">三重跃迁{{notation(player.boost3, 0)}}
						<br/>重置二重跃迁，但提升三重跃迁。<span id="boost3effect"></span><br/>成本：{{notation(getboost3cost(), 0)}}二重跃迁</button>
					</td>
				</table>
				
				<p class="ftsz3">
					<button class="buymaxjd" onclick="allmaxjd()">全部最大化</button>
					<button class="buymaxjd" onclick="export_save()">导出存档到剪贴板</button>
					<button class="buymaxjd" onclick="import_save()">导入存档</button>
					<button class="buymaxjd" onclick="player.openoffline = !player.openoffline; if(getofflinelimit() == 0) player.openoffline = false;" id="offlinebt"></button>
				</p>
				
				<div id="algor">
					<p class="ftsz2" align="center">
						<button class="buymaxjd" onclick="hidenode()">隐藏/显示传输节点界面</button><br>
					</p>
					<p class="ftsz2" align="center">
						<span>你有 {{notation(player.algordata, 0)}} 算法数据。</span>
						<br>
						<span>算法数据使你获得了 +<span class="ftsz3">{{notation(getalgoreffect(), 0)}} 免费传输节点等级</span><br></span>
						<span class="ftsz3 spill" id="algordataspill"></span>
						<span v-if="player.algordata.gte(getalgordataspillstart())" class="ftsz3 spill">在达到{{ notation(getalgordataspillstart()) }}算法数据后，算法数据将溢出！获取速度变为{{ notation(getalgordataspillroot(getalgordatagen())) }}次方根</span><br>
						<span v-if="player.algordata.gte(getalgordataspill2start())" class="ftsz3 spill">在达到{{ notation(getalgordataspill2start()) }}算法数据/s后，算法数据将二重溢出！获取速度变为{{ notation(getalgordataspill2root(getalgordatagen().root(getalgordataspillroot(getalgordatagen())))) }}次方根</span>
						<span class="ftsz3 spill" id="algordataspill2"></span>
						<table align="center">
						<td><button class="boostbt" id="algorbt" onclick="buyalgor()"><span id="algorscal"></span>算法<span id="algornum"></span><br>价格：<span id="algorcost"></span>世界信息</button></td>
						<td><button class="boostbt" id="algorrebuy1bt" onclick="buyalgorrebuy(1)"><span id="algorrebuy1scal"></span>真空衰变<span id="algorrebuy1"></span><br>使节点购买倍数^<span id="algorrebuy1effect"></span><br>价格：<span id="algorrebuy1cost"></span>世界信息</button></td>
						<td><button class="boostbt" id="algorrebuy2bt" onclick="buyalgorrebuy(2)"><span id="algorrebuy2scal"></span>宇宙折叠<span id="algorrebuy2"></span><br>使算法数据指数+<span id="algorrebuy2effect"></span><br>价格：<span id="algorrebuy2cost"></span>世界信息</button></td>
						</table>
					</p>
				</div>
				
				<div id="normal_node">
					<p class="ftsz2" align="center">
						<span>节点升级效果：每级×</span><span id="buyjdeffect"></span>
					</p>
					<v-if>
					
					<p class="ftsz3" id="unlockjd1">
						<span id="jdzs1">折算</span><span>1号传输节点 # 等级 </span><span id="jdbuy1"></span><span> # </span><span id="jdnum1"></span><span> × </span><span id="jdx1"></span>
						<button class="autobuybt" onclick="chautobuyjd(1)" id="autobuyjdbt1"><span id="autobuyjds1"></span></button>
						<button class="buyjd" onclick="buyjd(1)" id="jdbuybt1">花费<span id="jdcost1"></span>数据升级</button>
					</p>
					<p class="ftsz3" id="unlockjd2">
						<span id="jdzs2">折算</span><span>2号传输节点 # 等级 </span><span id="jdbuy2"></span><span> # </span><span id="jdnum2"></span><span> × </span><span id="jdx2"></span>
						<button class="autobuybt" onclick="chautobuyjd(2)" id="autobuyjdbt2"><span id="autobuyjds2"></span></button>
						<button class="buyjd" onclick="buyjd(2)" id="jdbuybt2">花费<span id="jdcost2"></span>数据升级</button>
					</p>
					<p class="ftsz3" id="unlockjd3">
						<span id="jdzs3">折算</span><span>3号传输节点 # 等级 </span><span id="jdbuy3"></span><span> # </span><span id="jdnum3"></span><span> × </span><span id="jdx3"></span>
						<button class="autobuybt" onclick="chautobuyjd(3)" id="autobuyjdbt3"><span id="autobuyjds3"></span></button>
						<button class="buyjd" onclick="buyjd(3)" id="jdbuybt3">花费<span id="jdcost3"></span>数据升级</button>
					</p>
					<p class="ftsz3" id="unlockjd4">
						<span id="jdzs4">折算</span><span>4号传输节点 # 等级 </span><span id="jdbuy4"></span><span> # </span><span id="jdnum4"></span><span> × </span><span id="jdx4"></span>
						<button class="autobuybt" onclick="chautobuyjd(4)" id="autobuyjdbt4"><span id="autobuyjds4"></span></button>
						<button class="buyjd" onclick="buyjd(4)" id="jdbuybt4">花费<span id="jdcost4"></span>数据升级</button>
					</p>
					<p class="ftsz3" id="unlockjd5">
						<span id="jdzs5">折算</span><span>5号传输节点 # 等级 </span><span id="jdbuy5"></span><span> # </span><span id="jdnum5"></span><span> × </span><span id="jdx5"></span>
						<button class="autobuybt" onclick="chautobuyjd(5)" id="autobuyjdbt5"><span id="autobuyjds5"></span></button>
						<button class="buyjd" onclick="buyjd(5)" id="jdbuybt5">花费<span id="jdcost5"></span>数据升级</button>
					</p>
					<p class="ftsz3" id="unlockjd6">
						<span id="jdzs6">折算</span><span>6号传输节点 # 等级 </span><span id="jdbuy6"></span><span> # </span><span id="jdnum6"></span><span> × </span><span id="jdx6"></span>
						<button class="autobuybt" onclick="chautobuyjd(6)" id="autobuyjdbt6"><span id="autobuyjds6"></span></button>
						<button class="buyjd" onclick="buyjd(6)" id="jdbuybt6">花费<span id="jdcost6"></span>数据升级</button>
					</p>
					<p class="ftsz3" id="unlockjd7">
						<span id="jdzs7">折算</span><span>7号传输节点 # 等级 </span><span id="jdbuy7"></span><span> # </span><span id="jdnum7"></span><span> × </span><span id="jdx7"></span>
						<button class="autobuybt" onclick="chautobuyjd(7)" id="autobuyjdbt7"><span id="autobuyjds7"></span></button>
						<button class="buyjd" onclick="buyjd(7)" id="jdbuybt7">花费<span id="jdcost7"></span>数据升级</button>
					</p>
					<p class="ftsz3" id="unlockjd8">
						<span id="jdzs8">折算</span><span>8号传输节点 # 等级 </span><span id="jdbuy8"></span><span> # </span><span id="jdnum8"></span><span> × </span><span id="jdx8"></span>
						<button class="autobuybt" onclick="chautobuyjd(8)" id="autobuyjdbt8"><span id="autobuyjds8"></span></button>
						<button class="buyjd" onclick="buyjd(8)" id="jdbuybt8">花费<span id="jdcost8"></span>数据升级</button>
					</p>
				</div>
			</div>
			<div id="spage2_1" align="center">
				<p align="center">
					<button class="boostbt" id="dimbt" onclick="buydim()">维度<span id="dim"></span><br/>提升星辰节点指数^x，并给予1星辰<br/>价格：<span id="dimcost"></span>宇宙信息</button>
				</p>
				<p class="ftsz2">
					<span>你拥有</span><span id="star"></span><span>星辰</span><br>
					<span style="color: lightblue;" id="stareffect"></span><br>
				</p>
				<p class="ftsz3" align="left"><span id="snzs1">折算</span>
				    <span>1号星辰节点 # 等级 </span><span id="snbuy1"></span><span> # </span><span id="snnum1"></span><span> × </span><span id="snx1"></span>
					<button class="buyjd" onclick="buysn(1)" id="snbuybt1">花费<span id="sncost1"></span>星辰升级</button>
				</p>
				<p class="ftsz3" align="left"><span id="snzs2">折算</span>
				    <span>2号星辰节点 # 等级 </span><span id="snbuy2"></span><span> # </span><span id="snnum2"></span><span> × </span><span id="snx2"></span>
					<button class="buyjd" onclick="buysn(2)" id="snbuybt2">花费<span id="sncost2"></span>星辰升级</button>
				</p>
				<p class="ftsz3" align="left"><span id="snzs3">折算</span>
				    <span>3号星辰节点 # 等级 </span><span id="snbuy3"></span><span> # </span><span id="snnum3"></span><span> × </span><span id="snx3"></span>
					<button class="buyjd" onclick="buysn(3)" id="snbuybt3">花费<span id="sncost3"></span>星辰升级</button>
				</p>
				<p class="ftsz3" align="left"><span id="snzs4">折算</span>
				    <span>4号星辰节点 # 等级 </span><span id="snbuy4"></span><span> # </span><span id="snnum4"></span><span> × </span><span id="snx4"></span>
					<button class="buyjd" onclick="buysn(4)" id="snbuybt4">花费<span id="sncost4"></span>星辰升级</button>
				</p>
				<p class="ftsz3" align="left"><span id="snzs5">折算</span>
				    <span>5号星辰节点 # 等级 </span><span id="snbuy5"></span><span> # </span><span id="snnum5"></span><span> × </span><span id="snx5"></span>
					<button class="buyjd" onclick="buysn(5)" id="snbuybt5">花费<span id="sncost5"></span>星辰升级</button>
				</p>
				<p class="ftsz3" align="left"><span id="snzs6">折算</span>
				    <span>6号星辰节点 # 等级 </span><span id="snbuy6"></span><span> # </span><span id="snnum6"></span><span> × </span><span id="snx6"></span>
					<button class="buyjd" onclick="buysn(6)" id="snbuybt6">花费<span id="sncost6"></span>星辰升级</button>
				</p>
				<p class="ftsz3" align="left"><span id="snzs7">折算</span>
				    <span>7号星辰节点 # 等级 </span><span id="snbuy7"></span><span> # </span><span id="snnum7"></span><span> × </span><span id="snx7"></span>
					<button class="buyjd" onclick="buysn(7)" id="snbuybt7">花费<span id="sncost7"></span>星辰升级</button>
				</p>
				<p class="ftsz3" align="left"><span id="snzs8">折算</span>
				    <span>8号星辰节点 # 等级 </span><span id="snbuy8"></span><span> # </span><span id="snnum8"></span><span> × </span><span id="snx8"></span>
					<button class="buyjd" onclick="buysn(8)" id="snbuybt8">花费<span id="sncost8"></span>星辰升级</button>
				</p>
			</div>
			<div id="spage3_1" align="center">
				<div id="permupgeffect"></div>
				<div id="permupg"></div>
			</div>
		</div>
		<div id="page2">
			<p align="center">
				<button class="spagebt" onclick="chspage(1)">重置层级</button>
				<button class="spagebt" onclick="chspage(2)" id="spagebt2_2">挑战</button>
				<button class="spagebt" onclick="chspage(3)" id="spagebt3_2" style="box-shadow: 0px 0px 10px white">奇异挑战</button>
			</p>
			<div id="spage1_2" align="center">
				<table align="center">
					<td style="width: 500px;">
						<span class="ftsz3">你拥有 </span><span class="ftsz4">{{notation(player.PL1info, 0)}}</span><span class="ftsz3"> 世界信息</span>
						<br/>
						<button class="PL1bt" onclick="buyPL1()">世界重置：重置之前的所有内容，但获得世界信息。<br/>+ {{notation(PL1infoget, 0)}} 世界信息。<br/>需要e80数据</button>
					</td>
					<td style="width: 500px;" id="PL2bt">
						<span class="ftsz3">你拥有 </span><span class="ftsz4">{{notation(player.PL2info, 0)}}</span><span class="ftsz3"> 宇宙信息</span>
						<br/>
						<button class="PL2bt" onclick="buyPL2()">宇宙重置：重置之前的所有内容，但获得宇宙信息。<br/>+ {{notation(PL2infoget, 0)}} 宇宙信息。<br/>需要e7000世界信息</button>
					</td>
					<tr>
					<td style="width: 500px;" id="PL3bt">
						<span class="ftsz3">你拥有 </span><span class="ftsz4">{{notation(player.PL3info, 0)}}</span><span class="ftsz3"> 混沌信息</span>
						<br/>
						<button class="PL3bt" onclick="buyPL3()">混沌重置：重置之前的所有内容，但获得混沌信息。<br/>+ {{notation(PL3infoget, 0)}} 混沌信息。<br/>需要e10000宇宙信息</button>
					</td>
					<td style="width: 500px;" id="PL4bt">
						<span class="ftsz3">你拥有 </span><span class="ftsz4">{{notation(player.PL4info, 0)}}</span><span class="ftsz3"> 虚空信息</span>
						<br>
						<button class="PL4bt" onclick="buyPL4()">虚空重置：+ {{notation(PL4infoget, 0)}} 虚空信息。<br>虚空数据产量：{{notation(getvdataps(), 0)}}/秒→{{notation(getvdatapsnew(PL4infoget), 0)}}/秒<br><span id="PL4infonext">需要{{notation(getPL4infonext(), 0)}}数据</span></button>
					</td>
					<tr>
				</table>
			</div>
			<div id="spage2_2" align="center">
				<p class="ftsz2"><span>挑战复杂度纪录：{{ notation(player.chalcomp) }}</span>
				<br><span style="color: lightblue;" id="chalcompeffect"></span>
				<br><span>当前参数复杂度：{{ notation(getchalparacomp()) }}</span>
				<br><br>说明<br>你可以自由调整挑战参数，需要上一个层级的参数被选择，才能选择下一个层级。
				<br>任何挑战参数都会对游戏内容加以更改，使游戏变得更难的参数增加复杂度，反之亦然。
				<br>在挑战中进行宇宙重置以完成挑战，完成的挑战的复杂度越高，就能获得越多的奖励。
				<br></p>
				<button class="chalpara" style="height: 50px" onclick="resetchalpara()">重置挑战参数</button>
				<button class="chalpara" style="height: 50px" onclick="openchal()" id="openchal">开始/结束挑战</button>
				<div id="challenge_detail"></div>
			</div>
			<div id="spage3_2" align="center">
				<p class="ftsz2">奇异挑战<br>奇异挑战是系统事先预设的挑战，拥有普通挑战中没有的特殊参数。
				<br>奇异挑战可以完成多次，目标会逐渐增长。完成更多次的奇异挑战可以获得更高的奖励。
				<br>达成目标后点击挑战图标即可完成挑战。</p>
				<button class="chalpara" style="height: 30px" onclick="closeexchal()" id="closeexchal">退出奇异挑战</button>
				<div id="exchal_detail"></div>
			</div>
		</div>
		<div id="page3">
			<p align="center">
				<button class="spagebt" onclick="chspage(1)">节点软上限</button>
				<button class="spagebt" onclick="chspage(2)">跃迁</button>
				<button class="spagebt" onclick="chspage(3)">二重跃迁</button>
				<button class="spagebt" onclick="chspage(4)" id="spagebt4_3">三重跃迁</button>
			</p>
			<div id="spage1_3" align="center">
				<p class="ftsz2">
					<span>一阶软上限：开始于购买倍数 × </span><span id="jdscs1"></span><span> 指数弱化 × <span id="jdscx1"></span><br/>
					<span>二阶软上限：开始于购买倍数 × </span><span id="jdscs2"></span><span> 指数弱化 × <span id="jdscx2"></span><br/>
					<span>三阶软上限：开始于购买倍数 × </span><span id="jdscs3"></span><span> 指数弱化 × <span id="jdscx3"></span><br/>
					<span>四阶软上限：开始于购买倍数 × </span><span id="jdscs4"></span><span> 指数弱化 × <span id="jdscx4"></span><br/>
					<span>五阶软上限：开始于倍数 × e</span><span id="jdscs5"></span><span> 双指数弱化 × <span id="jdscx5"></span><br/>
					<span>六阶软上限：开始于倍数 × e</span><span id="jdscs6"></span><span> 双指数弱化 × <span id="jdscx6"></span><br/>
					<span>七阶软上限：开始于倍数 × e</span><span id="jdscs7"></span><span> 双指数弱化 × <span id="jdscx7"></span><br/>
					<span>八阶软上限：开始于倍数 × e</span><span id="jdscs8"></span><span> 双指数弱化 × <span id="jdscx8"></span><br/>
				</p>
			</div>
			<div id="spage2_3" align="center"><span class="ftsz2" style="color: red;">超过10跃迁之后，跃迁将超级折算！当前强度：^</span><span class="ftsz2" id="boostscalingeffect" style="color: red;"></span><br>
												<div id="boostscal2"><span class="ftsz2" style="color: orange;">超过20000跃迁之后，跃迁将究极折算！当前强度：^</span><span class="ftsz2" id="boostscaling2effect" style="color: orange;"></span><br></div>
												<span class="ftsz2" id="boosteffectlist"></span></div>
			<div id="spage3_3" align="center"><span class="ftsz2" id="boost2effectlist"></span></div>
			<div id="spage4_3" align="center"><span class="ftsz2" id="boost3effectlist"></span></div>
		</div>
		<div id="page4">
			<p align="center">
				<button class="spagebt" onclick="chspage(1)">世界升级</button>
				<button class="spagebt" onclick="chspage(2)" id="spagebt2_4">位面切片</button>
				<button class="spagebt" onclick="chspage(3)">本源</button>
			</p>
			<div id="spage1_4" align="center">
				<table align="center">
					<td>
						<button class="PL1bt" onclick="buyPL1ug(1)" id="PL1ug1">
							升级节点不消耗资源。你可以自动升级节点。
							<br/>
							成本：1世界信息
						</button>
					</td>
					<td>
						<button class="PL1bt" onclick="buyPL1ug(2)" id="PL1ug2">
							节点的一阶软上限弱化40%。
							<br/>
							成本：2世界信息
						</button>
					</td>
					<td>
						<button class="PL1bt" onclick="buyPL1ug(3)" id="PL1ug3">
							跃迁增幅节点产能，当前：×<span id="PL1ug3effect"></span>
							<br/>
							成本：6世界信息
						</button>
					</td>
					<td>
						<button class="PL1bt" onclick="buyPL1ug(4)" id="PL1ug4">
							跃迁超级折算弱化50%。
							<br/>
							成本：40世界信息
						</button>
					</td>
					<tr>
					<td>
						<button class="PL1bt" onclick="buyPL1ug(5)" id="PL1ug5">
							跃迁不重置任何东西。解锁自动跃迁。
							<br/>
							成本：2500世界信息
						</button>
					</td>
					<td>
						<button class="PL1bt" onclick="buyPL1ug(6)" id="PL1ug6">
							节点一阶软上限弱化50%、二至三阶软上限弱化40%。
							<br/>
							成本：10000世界信息
						</button>
					</td>
					<td>
						<button class="PL1bt" onclick="buyPL1ug(7)" id="PL1ug7">
							节点一至二阶软上限延迟1.5次方出现。
							<br/>
							成本：30000世界信息
						</button>
					</td>
					<td>
						<button class="PL1bt" onclick="buyPL1ug(8)" id="PL1ug8">
							世界信息公式变得更好。解锁位面切片。
							<br/>
							成本：50000世界信息
						</button>
					</td>
				</table>
			</div>
			<div id="spage2_4" align="center">
				<span class="slicetext">你拥有</span><span class="slicetext" id="slice"></span><span class="slicetext">位面切片</span>
				<br/>
				<span class="slicetext">它们使传输节点产能变为</span><span class="slicetext" id="slice_effect"></span><span class="slicetext">倍</span>
				<br/>
				<span class="ftsz2">在 1.000e64 位面切片将解锁自动升级。世界重置不会重置位面切片。</span>
				<table>
					<td>
						<button class="slicebt" id="slicebt1" onclick="buysliceupg(1)">
							位面切片获取量×(1.5^等级)<br/>
							等级：<span id="sliceupglevel1"></span><br/>
							需要：<span class="slicetext" id="sliceupgcost1"></span>位面切片
						</button>
					</td>
					<td>
						<button class="slicebt" id="slicebt2" onclick="buysliceupg(2)">
							位面切片效果指数+(0.05×等级)<br/>
							等级：<span id="sliceupglevel2"></span><br/>
							需要：<span class="slicetext" id="sliceupgcost2"></span>位面切片
						</button>
					</td>
					<td>
						<button class="slicebt" id="slicebt3" onclick="buysliceupg(3)">
							二重跃迁成本-(等级)<br/>
							等级：<span id="sliceupglevel3"></span><br/>
							需要：<span class="slicetext" id="sliceupgcost3"></span>位面切片
						</button>
					</td>
					<td>
						<button class="slicebt" id="slicebt4" onclick="buysliceupg(4)">
							传输节点产能^(1+0.005×等级)<br/>
							等级：<span id="sliceupglevel4"></span><br/>
							需要：<span class="slicetext" id="sliceupgcost4"></span>位面切片
						</button>
					</td>
					<tr>
					<td>
						<button class="slicebt" id="slicebt5" onclick="buysliceupg(5)">解锁自动二重跃迁，二重跃迁不重置任何东西<br/>需要：<span class="slicetext" id="sliceupgcost5"></span>位面切片</button>
					</td>
					<td>
						<button class="slicebt" id="slicebt6" onclick="buysliceupg(6)">世界信息公式变得更好<br/>需要：<span class="slicetext" id="sliceupgcost6"></span>位面切片</button>
					</td>
					<td>
						<button class="slicebt" id="slicebt7" onclick="buysliceupg(7)">节点一至三重软上限延迟1.5次方出现<br/>需要：<span class="slicetext" id="sliceupgcost7"></span>位面切片</button>
					</td>
					<td>
						<button class="slicebt" id="slicebt8" onclick="buysliceupg(8)">解锁宇宙重置<br/>需要：<span class="slicetext" id="sliceupgcost8"></span>位面切片</button>
					</td>
				</table>
				<span class="ftsz3" style="color: red;">位面切片软上限在 1e7、5e8、1e135</span>
			</div>
			<div id="spage3_4" align="center">
				<button class="unlock_origin" onclick="unlock_origin()" id="uunlock_origin">
					解锁本源<br/>
					价格：1e130世界信息
				</button>
				<div id="unlock_origin" align="center">
					<p align="center" class="ftsz4">你有 <span id="origin_data"></span> 本源数据</p>
					<p align="center" class="ftsz2" style="color: lightblue;"><span id="origin_effect"></span></p>
					<button class="PL1bt" onclick="buyoriginupg(1)" id="originupg1">
						本源数据获取速度+1<br>等级：<span id="originupglevel1"></span>/100.0<br>价格：<span id="originupgcost1"></span>
					</button>
					<button class="PL1bt" onclick="buyoriginupg(2)" id="originupg2">
						本源数据获取速度+3<br>等级：<span id="originupglevel2"></span>/100.0<br>价格：<span id="originupgcost2"></span>
					</button>
					<br>
					<button class="PL1bt" onclick="buyoriginupg(3)" id="originupg3">
						本源数据获取速度×1.5<br>等级：<span id="originupglevel3"></span>/30.00<br>价格：<span id="originupgcost3"></span>
					</button>
					<button class="PL1bt" onclick="buyoriginupg(4)" id="originupg4">
						本源数据获取速度×2.5<br>等级：<span id="originupglevel4"></span>/30.00<br>价格：<span id="originupgcost4"></span>
					</button>
					<button class="PL1bt" onclick="buyoriginupg(5)" id="originupg5">
						本源数据获取速度×5<br>等级：<span id="originupglevel5"></span><br>价格：<span id="originupgcost5"></span>
					</button>
				</div>
			</div>
		</div>
		<div id="page5">
			<p align="center">
				<button class="spagebt" onclick="chspage(1)">多宇宙</button>
				<button class="spagebt" onclick="chspage(2)" id="spagebt2_5">熵</button>
				<button class="spagebt" onclick="chspage(3)">升级</button>
				<button class="spagebt" onclick="chspage(4)" id="spagebt4_5"
				style="box-shadow: 0 0 4px #ff0,0 0 2px #ff0,0 0 8px #ff0,0 0 12px #ff0;">神星</button>
			</p>
			<div id="spage1_5">
				<p class="ftsz3" align="center">
					<span>你已经经过了</span><span style="color: purple;">{{notation(player.PL2tms, 0)}}</span><span>次宇宙重置</span>
				</p>
				<table align="center">
					<td><button class="PL2mlstbt" id="PL2mlst0">1宇宙重置<br/>永久自动位面切片升级</button></td>
					<td><button class="PL2mlstbt" id="PL2mlst1">2宇宙重置<br/>重置时世界升级全部处于已购买状态</button></td>
					<td><button class="PL2mlstbt" id="PL2mlst2">4宇宙重置<br/>重置时位面切片一次性升级全部处于已购买状态，自动化本源</button></td>
					<td><button class="PL2mlstbt" id="PL2mlst3">7宇宙重置<br/>世界重置将不重置任何东西</button></td>
					<tr>
					<td><button class="PL2mlstbt" id="PL2mlst4">10宇宙重置<br/>跃迁超级折算弱化25%</button></td>
					<td><button class="PL2mlstbt" id="PL2mlst5">15宇宙重置<br/>取消位面切片在 5.000e8 的软上限</button></td>
					<td><button class="PL2mlstbt" id="PL2mlst6">25宇宙重置<br/>解锁三重跃迁</button></td>
					<td><button class="PL2mlstbt" id="PL2mlst7">35宇宙重置<br/>解锁熵</button></td>
				</table>
			</div>
			<div id="spage2_5" align="center">
				<button class="PL2bt" style="width: 800px; height: 120px" onclick="openentropy()" id="openentropy">
					开始/结束收集熵<br>
					你将进行宇宙重置，并使传输节点的指数^0.9。
				</button>
				<table align="center" class="ftsz2">
					<td style="width: 400px; height: 200px;">
						<span>你有 </span><span id="ent0"></span><span> 熵_I</span><br>
						<span>熵_I的获取基于世界信息</span><br>
						<span style="color: lightblue;" id="entropyeffect0"></span>
					</td>
					<td style="width: 400px; height: 200px;">
						<span>你有 </span><span id="ent1"></span><span> 熵_II</span><br>
						<span>熵_II的获取基于跃迁数量</span><br>
						<span style="color: lightblue;" id="entropyeffect1"></span>
					</td>
					<tr>
					<td style="width: 400px; height: 200px;">
						<span>你有 </span><span id="ent2"></span><span> 熵_III</span><br>
						<span>熵_III的获取基于位面切片</span><br>
						<span style="color: lightblue;" id="entropyeffect2"></span>
					</td>
					<td style="width: 400px; height: 200px;">
						<span>你有 </span><span id="ent3"></span><span> 熵_IV</span><br>
						<span>熵_IV的获取基于数据</span><br>
						<span style="color: lightblue;" id="entropyeffect3"></span>
					</td>
				</table>
			</div>
			<div id="spage3_5" align="center">
				<table align="center" class="ftsz2">
					<td><button class="PL2bt" onclick="buyPL2upg(1)" id="PL2upg1">
						每秒获得1000%重置时可获得数量的世界信息<br>
						价格：1e12宇宙信息
					</button></td>
					<td><button class="PL2bt" onclick="buyPL2upg(2)" id="PL2upg2">
						自动购买三重跃迁，三重跃迁不重置任何东西<br>
						价格：1e13宇宙信息
					</button></td>
					<td><button class="PL2bt" onclick="buyPL2upg(3)" id="PL2upg3">
						自动获得0.1%重置时可获得数量的宇宙信息，解锁神星<br>
						价格：1e32宇宙信息
					</button></td>
					<td><button class="PL2bt" onclick="buyPL2upg(4)" id="PL2upg4">
						解锁永久升级（在节点选项卡内）<br>
						价格：1e75宇宙信息
					</button></td>
				</table>
			</div>
			<div id="spage4_5" align="center">	
				<p class="ftsz3"><span>你拥有 </span><span style="color: gold;" id="godstar"></span><span> 神星</span></p>
				<span class="ftsz2" style="color: lightblue;" id="godstareffect"></span>
				<br>
				<button class="gnbt" style="border-color: white;" onclick="buymaxgn()" id="buymaxgn">最大化购买神子</button>
				<table>
					<td><button class="gnbt" style="border-color: white;" onclick="unlockgn(1)" id="unlockgn1">需求：1e1.000e6数据</button>
					<button class="gnbt" style="border-color: white;" onclick="buygn(1)" id="gnbt1">一重神子 ~ <span id="gn1"></span><br>×<span id="gnx1"></span><br>价格: <span id="gnc1"></span>宇宙信息</button></td>
					<td><button class="gnbt" style="border-color: red;" onclick="unlockgn(2)" id="unlockgn2">需求：1e2.000e6数据</button>
					<button class="gnbt" style="border-color: red;" onclick="buygn(2)" id="gnbt2">二重神子 ~ <span id="gn2"></span><br>×<span id="gnx2"></span><br>价格: <span id="gnc2"></span>宇宙信息</button></td>
					<tr>
					<td><button class="gnbt" style="border-color: orange;" onclick="unlockgn(3)" id="unlockgn3">需求：1e3.000e6数据</button>
					<button class="gnbt" style="border-color: orange;" onclick="buygn(3)" id="gnbt3">三重神子 ~ <span id="gn3"></span><br>×<span id="gnx3"></span><br>价格: <span id="gnc3"></span>宇宙信息</button></td>
					<td><button class="gnbt" style="border-color: yellow;" onclick="unlockgn(4)" id="unlockgn4">需求：1e4.000e6数据</button>
					<button class="gnbt" style="border-color: yellow;" onclick="buygn(4)" id="gnbt4">四重神子 ~ <span id="gn4"></span><br>×<span id="gnx4"></span><br>价格: <span id="gnc4"></span>宇宙信息</button></td>
					<tr>
					<td><button class="gnbt" style="border-color: green;" onclick="unlockgn(5)" id="unlockgn5">需求：1e5.000e6数据</button>
					<button class="gnbt" style="border-color: green;" onclick="buygn(5)" id="gnbt5">五重神子 ~ <span id="gn5"></span><br>×<span id="gnx5"></span><br>价格: <span id="gnc5"></span>宇宙信息</button></td>
					<td><button class="gnbt" style="border-color: blue;" onclick="unlockgn(6)" id="unlockgn6">需求：1e6.000e6数据</button>
					<button class="gnbt" style="border-color: blue;" onclick="buygn(6)" id="gnbt6">六重神子 ~ <span id="gn6"></span><br>×<span id="gnx6"></span><br>价格: <span id="gnc6"></span>宇宙信息</button></td>
					<tr>
					<td><button class="gnbt" style="border-color: purple;" onclick="unlockgn(7)" id="unlockgn7">需求：1e7.000e6数据</button>
					<button class="gnbt" style="border-color: purple;" onclick="buygn(7)" id="gnbt7">七重神子 ~ <span id="gn7"></span><br>×<span id="gnx7"></span><br>价格: <span id="gnc7"></span>宇宙信息</button></td>
					<td><button class="gnbt" style="border-color: gold;" onclick="unlockgn(8)" id="unlockgn8">需求：1e8.000e6数据</button>
					<button class="gnbt" style="border-color: gold;" onclick="buygn(8)" id="gnbt8">八重神子 ~ <span id="gn8"></span><br>×<span id="gnx8"></span><br>价格: <span id="gnc8"></span>宇宙信息</button></td>
				</table>
			</div>
		</div>
		<div id="page6">
			<p align="center">
				<button class="spagebt" onclick="chspage(1)">混沌效果</button>
				<button class="spagebt" onclick="chspage(2)" id="spagebt2_6">反应堆</button>
				<button class="spagebt" onclick="chspage(3)" id="spagebt3_6" style="animation: elements 2s linear infinite;">元素</button>
				<button class="spagebt" onclick="chspage(4)" id="spagebt4_6" style="animation: bhbutton 5s linear infinite;">黑洞</button>
				<button class="spagebt" onclick="chspage(5)" id="spagebt5_6">数据压制</button>
			</p>
			<div id="spage1_6">
				<p class="ftsz3" align="center" id="autochaos">
					<button class="boostbt" onclick="let x = prompt('到达 X 混沌信息后混沌重置，若要关闭自动混沌输入-1', '');
					if(x == '-1'){player.autochaos = false;}else{player.autochaos = true; player.autochaosgoal = N(x);}" id="autochaosbutton">更改自动混沌设置</button>
				</p>
				<p class="ftsz3" align="center">
					<span>你进行了 </span><span style="color: gold;">{{notation(player.PL3tms, 0)}}</span><span> 次混沌重置</span><br>
					<span>你总共有 </span><span style="color: gold;" id="PL3infottl"></span><span> 混沌信息</span><br>
					<span class="ftsz2" style="color: lightblue;" id="PL3infoeffect"></span>
				</p>
			</div>
			<div id="spage2_6" align="center">
				<p class="ftsz2">你有<span id="chaosshard"></span>混沌碎片，<span id="chaosmass"></span>混沌质量<br></p>
				<span class="ftsz2" style="color: lightblue;" id="chaosmasseffect"></span>
				<button class="chalpara" onclick="addacce()">增加反应堆加速度</button>
				<button class="chalpara" onclick="subacce()">减少反应堆加速度</button>
				<br>
				<p class="ftsz2">反应堆加速度：<span id="reactpara0"></span>/<span id="reactparalim0"></span></p>
				<div class="reaction"><div class="reactbar" id="reactbar0"></div></div>
				<p class="ftsz2">反应堆热功率：<span id="reactpara1"></span>/<span id="reactparalim1"></span></p>
				<div class="reaction"><div class="reactbar" id="reactbar1"></div></div>
				<p class="ftsz2" style="color: red;">反应堆温度：<span id="reactpara2"></span>/<span id="reactparalim2"></span>，超限后反应失败。</p>
				<div class="reaction" style="background: red;"><div class="reactbar" id="reactbar2"></div></div>
				<p class="ftsz2">反应进度：<span id="reactpara3"></span>/<span id="reactparalim3"></span>，超限后获得<span id="reactgoal">混沌碎片</span></p>
				<div class="reaction" style="background: orange;"><div class="reactbar" id="reactbar3"></div></div>
			</div>
			<div id="spage3_6" align="center">
				<button class="chalpara" onclick="startelements()" id="startelements"></button>
				<br>
				<span class="ftsz2" id="elementseffect" style="color: lightblue;"></button>
			</div>
			<div id="spage4_6" align="center">
				<p class="ftsz3">当前虚空：#<span id="voidarea"></span></p>
				<p class="ftsz2">奇点凝聚进度：<span id="singnow"></span>/<span id="singcap"></span></p>
				<br>
				<p class="ftsz2">黑洞关闭时可基于数据提升黑洞，黑洞开启时持续减弱黑洞并获得加成。黑洞小于1时自动关闭。<br>
				黑洞开启时基于黑洞大小凝聚奇点，进度满后将到达下一个虚空。</p>
				<br>
				<p class="ftsz2">黑洞(<span id="blackhole"></span>)</p>
				<button class="chalpara" id="bhbutton" onclick="cbh()">开启/关闭黑洞</button><br>
				<span class="ftsz2" style="color: lightblue;" id="bheffect"></span>
				<div v-if="player.permupg.includes(63)">
					<table>
					<td><button id="bhupg0" class="chalpara" onclick="buybhupg(0)">
					[等级：{{notation(player.bhupg[0])}}]<br>每级使黑洞充能×1.5。当前：×{{notation(getbhupgeff(0))}}。<br>价格：{{notation(getbhupgcost(0))}}黑洞。
					</button></td>
					<td><button id="bhupg1" class="chalpara" onclick="buybhupg(1)">
					[等级：{{notation(player.bhupg[1])}}]<br>每级使奇点获取×10。当前：×{{notation(getbhupgeff(1))}}。<br>价格：{{notation(getbhupgcost(1))}}黑洞。
					</button></td><tr>
					<td><button id="bhupg2" class="chalpara" onclick="buybhupg(2)">
					[等级：{{notation(player.bhupg[2])}}]<br>每级使数据溢出延迟^65536。当前：^{{notation(getbhupgeff(2))}}。<br>价格：{{notation(getbhupgcost(2))}}黑洞。
					</button></td>
					<td><button id="bhupg3" class="chalpara" onclick="buybhupg(3)">
					[等级：{{notation(player.bhupg[3])}}]<br>每级使混沌以前全局速度×2。当前：×{{notation(getbhupgeff(3))}}。<br>价格：{{notation(getbhupgcost(3))}}黑洞。
					</button></td>
					</table>
				</div>
			</div>
			<div id="spage5_6" align="center">
				<p class="ftsz3">当前你有 <span style="color: silver;" id="suppdata"></span> 压制数据</p>
				<p class="ftsz3">压制数据生产了 <span style="color: silver;"id="colldata"></span> 折叠数据</p>
				<span class="ftsz2" style="color: lightblue;" id="colleffect"></span>
				<div align="center"><button class="chalpara" style="height: 160px; width: 80%; border-color: silver; box-shadow: 0px 0px 10px silver;" id="opensupp" onclick="opensupp()">
					<span class="ftsz3" style="color: silver">开启/关闭数据压制<br></span>
					<span class="ftsz3" id="suppget">+0 压制数据<br></span>
					<span id="suppweaken">启动数据压制之后，黑洞失效，强制开启奇异挑战1~4，但传输节点指数^1.5。</span>
				</button></div>
				<br><br><span class="ftsz2">达到 e1.000e38 数据解锁数据压制升级。</span>
				<br>
				<div style="width: 80%" id="suppupg_detail"></div>
			</div>
		</div>
		<div id="page7">
			<p align="center">
				<button class="spagebt" onclick="chspage(1)">虚空升级</button>
				<button class="spagebt" onclick="chspage(2)" id="spagebt2_7">标准模型</button>
				<button class="spagebt" onclick="chspage(3)" v-if="player.permupg.includes(69)"><span class="ascendtext">飞升</span></button>
			</p>
			<div id="spage1_7" align="center">
				<table align="center">
					<td><button class="voidupg" onclick="buyvoidupg(1)" id="voidupg1"></button></td>
					<td><button class="voidupg" onclick="buyvoidupg(2)" id="voidupg2"></button></td>
					<td><button class="voidupg" onclick="buyvoidupg(3)" id="voidupg3"></button></td>
					<td><button class="voidupg" onclick="buyvoidupg(4)" id="voidupg4"></button></td>
					<tr>
					<td><button class="voidupg" onclick="buyvoidupg(5)" id="voidupg5"></button></td>
					<td><button class="voidupg" onclick="buyvoidupg(6)" id="voidupg6"></button></td>
					<td><button class="voidupg" onclick="buyvoidupg(7)" id="voidupg7"></button></td>
					<td><button class="voidupg" onclick="buyvoidupg(8)" id="voidupg8"></button></td>
					<tr>
					<td><button class="voidupg" onclick="buyvoidupg(9)" id="voidupg9"></button></td>
					<td><button class="voidupg" onclick="buyvoidupg(10)" id="voidupg10"></button></td>
					<td><button class="voidupg" onclick="buyvoidupg(11)" id="voidupg11"></button></td>
					<td><button class="voidupg" onclick="buyvoidupg(12)" id="voidupg12"></button></td>
				</table>
			</div>
			<div id="spage2_7" align="center">
				<span class="ftsz4">标准模型</span>
				<br>
				<span class="ftsz2">开启粒子加速器后：<br>
				<span class="ftsz2" style="color: red;">
				所有标准模型以前的传输节点指数和膨胀将被禁用。<br>
				标准模型以前的传输节点倍数变为log10(x)。<br>
				标准模型以前的世界信息、宇宙信息倍数、指数和膨胀将被禁用。<br>
				混沌以前全局速度变为log10(x)。<br>
				位面切片效果锁定为×1。<br>
				本源第二效果禁用。<br>
				所有可重复购买的数据压制升级都失去效果。<br>
				不能进入奇异挑战10。<br></span>
				<span class="ftsz2" style="color: green;">
				将解锁17种标准模型粒子，在开启粒子加速器时为游戏带来加成。<br>
				解锁大量标准模型升级，在任何时候为游戏带来加成。<br></span>
				</span>
				<button class="voidupg" onclick="openstdmodel()" id="openstdmodelbt">开启/关闭粒子加速器</button>
			</div>
			<div id="spage3_7" align="center">
				<span class="ftsz3 ascendtext">
				飞升<br>
				<span class="ftsz2 ascendtext">
				你的数据、混沌信息、粒子加速器内数据可以以一定比例兑换为飞升碎片。<br>
				飞升碎片用于购买飞升升级。<br>
				飞升升级以树状排列，部分升级之间互相排斥。<br>
				飞升碎片数量有限，这意味着你需要在不同情况下做出不同购买选择。<br>
				</span>
				</span>
				<div style="width: 100%" align="center">
					<div align="center" class="particle" style="overflow-x: auto; overflow-y: auto;">
						<span class="ftsz3" align="center">飞升碎片[总计{{notation(player.asshard[0], 0)}}+{{notation(player.asshard[1], 0)}}+{{notation(player.asshard[2], 0)}}={{notation(player.asshard[0].add(player.asshard[1]).add(player.asshard[2]), 0)}}]</span>
						<br><span class="ftsz2" align="center">可用：[{{notation(gettotasshard(), 0)}}]</span>
						<table align="center" style="width: 100%;">
							<td><button class="chalpara" id="assbuy0" onclick="buyass(0)">[数据 已兑换{{notation(player.asshard[0], 0)}}]<br>价格：{{notation(getasscost(0), 0)}}数据</td>
							<td><button class="chalpara" id="assbuy1" onclick="buyass(1)">[混沌信息 已兑换{{notation(player.asshard[1], 0)}}]<br>价格：{{notation(getasscost(1), 0)}}混沌信息</td>
							<td><button class="chalpara" id="assbuy2" onclick="buyass(2)">[粒子加速器内数据 已兑换{{notation(player.asshard[2], 0)}}]<br>价格：{{notation(getasscost(2), 0)}}粒子加速器内数据</td>
							<td><button class="chalpara" id="assbuy3" onclick="buyass(3)">回退飞升碎片和购买的飞升升级，但进行虚空重置。</td>
						</table>
					</div>
				</div>
				<div id="ascend_tree" align="center" style="width: 600px; position: relative;">
				</div>
			</div>
		</div>
		<div id="page8">
		</div>
		<div id="page9">
		</div>
		<div id="page10">
		</div>
		<div id="page11">
			<p align="center">
				<button class="spagebt" onclick="chspage(1)">成就</button>
				<button class="spagebt" onclick="chspage(2)">关于游戏</button>
				<button class="spagebt" onclick="chspage(3)">统计与推荐</button>
			</p>
			<div id="spage1_11" align="center"><div align="center" id="achievement_ui"></div></div>
			<div id="spage2_11" align="center">
				<p class="ftsz2">
					<span class="ftsz4">数据增量重制版 - Incremental Data Rewritten</span>
					<br>
					<span class="ftsz3">
						作者：seanxlx<br>当前版本：V2<br>
					</span>
					<br>
					<span class="ftsz2" style="width: 100%; background-color: #444444">
						本游戏使用break_eternity.js处理大数字，上限约为10^^1.798e308。<br>
						支持所有序数增量吧吧友。<br>
						如有疑问，请加QQ群 951232913 。<br>
					</span>
					<br>
					<span class="ftsz2">
						版本更新记录：
						<br><br>
						V2 - (2024/11/4)虚空更新第二弹<br>
						更新了虚空层级的前半部分内容。<br>
						Endgame: e2.445e6数据(在粒子加速器中)，28虚空信息，购买矩阵升级28。<br>
						<br><br>
						V1 - (2024/9/16)虚空更新<br>
						更新了虚空层级的一点内容。<br>
						使用了Vue，但没有重构界面。<br>
						加入了Endgame提示。<br>
						近期由于不可抗力影响，更新速度将极速变慢。<br>
						注意：游戏平衡没有问题！！！<br>
						Endgame: 购买永久升级67。<br>
						<br><br>
						C3 - (2024/7/26)混沌更新收尾<br>
						完成了混沌层级的全部内容。<br>
						Endgame: e1.798e308数据。<br>
						<br><br>
						C2B - (2024/7/16)平衡修复<br>
						修复部分bug。<br>
						修改了跃迁的一些奖励，提升了平衡性.<br>
						<br><br>
						C2 - (2024/7/14)混沌更新第二弹<br>
						增加了混沌层级的部分内容。<br>
						Endgame: 至少ee36数据。<br>
						<br><br>
						C-News - (2024/6/15)新闻更新<br>
						增加了滚动新闻。<br>
						<br><br>
						C1 - (2024/6/1)混沌更新<br>
						增加了混沌层级的部分内容。<br>
						Endgame: 10~ (看你的耐心) 混沌碎片。
						<br><br>
					</span>
				</p>
			</div>
			<div id="spage3_11" align="center">
				<p class="ftsz3">
					你有{{notation(player.data, 0)}}数据<br>
					<span class="ftsz2"id="datashow"></span>
				</p>
				<table align="center">
					<td></td>
					<td><button class="buymaxjd" onclick="window.open('https://0i00000000a7.github.io/IDR-savebank/', '_blank');">访问存档银行</button></td>
					<td></td>
					<tr>
					<td><button class="buymaxjd" onclick="window.open('https://veryrrdefine.github.io/MdVI-rewritten/', '_blank');">多维体积增量</button></td>
					<td><button class="buymaxjd" onclick="window.open('https://dlsdl.github.io/wind_spirit_creation/', '_blank');">风灵作成</button></td>
					<td><button class="buymaxjd" onclick="window.open('https://0i00000000a7.github.io/points-incremental-rewritten/', '_blank');">点数增量重制版</button></td>
					<tr>
					<td><button class="buymaxjd" onclick="window.open('https://hypcos.github.io/too-many-layers/', '_blank');">太多层级</button></td>
					<td><button class="buymaxjd" onclick="window.open('https://goldenapple125.github.io/RBN/', '_blank');">大数之路</button></td>
					<td><button class="buymaxjd" onclick="window.open('https://liuliu66686.github.io/The-Periodic-Elements-Incemental-Tree/TMTR/index.html', '_blank');">元素周期增量树</button></td>
					<tr>
					<td><button class="buymaxjd" onclick="window.open('https://g1tyx.github.io/antimatter-dimensions/new/', '_blank');">反物质维度</button></td>
					<td><button class="buymaxjd" onclick="window.open('https://www.minecraft.net/zh-hans', '_blank');">我的世界</button></td>
					<td><button class="buymaxjd" onclick="window.open('https://g8hh.github.io/c0v1d-modding-tree/', '_blank');">病毒树</button></td>
					<tr>
					<td><button class="buymaxjd" onclick="window.open('https://mrredshark77.github.io/shark-incremental/', '_blank');">鲨鱼增量</button></td>
					<td><button class="buymaxjd" onclick="window.open('https://g8hh.github.io/incremental-mass-rewritten/', '_blank');">质量增量重制版</button></td>
					<td><button class="buymaxjd" onclick="window.open('https://qqqe308.github.io/The-Rhythm-Game-Tree/', '_blank');">音乐游戏树</button></td>
					<tr>
					<td><button class="buymaxjd" onclick="window.open('https://hydrogenated233.github.io/TI/', '_blank');">植树增量</button></td>
					<td><button class="buymaxjd" onclick="window.open('https://patcailmemer.github.io/Ordinal-Markup/', '_blank');">序数增量</button></td>
					<td><button class="buymaxjd" onclick="window.open('https://ys.mihoyo.com/', '_blank');">原神</button></td>
					
				</table>
			</div>
		</div>
		<div id="page12">
		</div>
		<div id="page13">
			<p align="center">
				<button class="spagebt" onclick="chspage(1)">粒子</button>
				<button class="spagebt" onclick="chspage(2)">粒子升级</button>
				<button class="spagebt" onclick="chspage(3)" v-if="player.SMupg >= 4">矩阵</button>
				<button class="spagebt" onclick="chspage(4)" v-if="player.SMupg >= 25">因子</button>
			</p>
			<div id="spage1_13">
				<div id="particle"></div>
			</div>
			<div id="spage2_13">
				<div id="SMupg">
				</div>
			</div>
			<div id="spage3_13">
				<div class="ftsz2" align="center">你有{{notation(player.arraydata, 0)}}矩阵数据</div>
				<div class="ftsz2" align="center" style="color: lightblue;" v-html="getarraydataeffect()"></div>
				<table id="array" style="width: 100%">
					<tr v-for="i in arraynode" style="width: 100%">
						<td style="width: 100%" align="center" v-if="player.SMupg >= unlan[i]">
							<div align="center" class="particle" style="overflow-x: auto; overflow-y: auto;">
								<span class="ftsz3" align="center">第{{(i + 1)}}矩阵节点</span><br>({{notation(player.ancd[i], 2)}}s/{{notation(getancd(i), 2)}}s)[{{notation(player.arraynode[i]), 0}}]×{{notation(getanx(i))}}
								<table align="center" style="width: 100%;">
									<td><button class="chalpara" :id="'anbuy1' + i" :onclick="'buyan(' + i + ')'">[产能增加 等级{{notation(player.buyan[i], 0)}}]<br>提升节点产能+{{notation(getanbuybase(i))}}<br>价格：{{notation(getarraynodecost(i), 0)}}矩阵数据</td>
									<td><button class="chalpara" :id="'anbuy2' + i" :onclick="'buyancd(' + i + ')'">[冷却加速 等级{{notation(player.buyancd[i], 0)}}]<br>降低节点冷却速度÷{{notation(getancdbuybase(i))}}<br>价格：{{notation(getarraynodecdcost(i), 0)}}矩阵数据</td>
									<td><button class="chalpara" :id="'antier' + i" :onclick="'buyantier(' + i + ')'" v-if="player.SMupg >= 12">[等阶{{notation(player.antier[i], 0)}}]<br>产能×{{notation(getantierbase(), 0)}}，但冷却时间×{{notation(getantiercdbase(), 0)}}<br>提升等阶需要矩阵冷却＜0.1秒</td>
								</table>
							</div>
						</td>
						<td style="width: 100%" align="center" v-if="player.SMupg < unlan[i]">
							<div align="center" class="particle">
								<span class="ftsz3" align="center">待解锁</span>
							</div>
						</td>
					</tr>
				</table>
			</div>
			<div id="spage4_13">
				<div style="width: 100%; float: center; background-color: #333333" align="center">
					<button class="chalpara" style="height: 45px" onclick="changeft(-1)">←</button>
					<span class="ftsz3">因子层级：{{notation(player.openft, 0)}}/{{notation(player.unlft, 0)}}</span>
					<button class="chalpara" style="height: 45px" onclick="changeft(1)">→</button>
				</div>
				<div style="border: 3px solid white; width: 90%; height: 500px; float: center; background-color: #222222; position: relative;" align="center">
					<div class="chalpara" style="position: absolute; top: 0; left: 2%; width: 45%; height: 150px; overflow-x: auto; overflow-y: auto;">
						<span class="ftsz3">能量：{{notation(player.ft[player.openft].energy, 0)}}(+{{notation(getftg(player.openft), 0)}}/s)</span><br>
						<button class="boostbt" style="width: 80%; height: 70px; float: center;" v-if="player.ft[player.openft].energy.lt(getftcrcost()) && player.unlft >= 1">
							<span class="ftsz2">需要 {{notation(getftcrcost(), 0)}} 能量以坍缩</span><br>
						</button>
						<button class="boostbt" style="width: 80%; height: 70px; float: center;" v-if="player.ft[player.openft].energy.lt(getftcrcost()) && player.unlft == 0">
							<span class="ftsz2">达到 {{notation(getftcrcost(), 0)}} 能量后……</span><br>
						</button>
						<button class="boostbt ftsz2" style="width: 80%; height: 70px; float: center" v-if="player.ft[player.openft].energy.gte(getftcrcost()) && player.unlft > player.openft" onclick="ftcr(player.openft)">
							坍缩(+{{notation(getftcrg(player.openft), 0)}})。<br>
							重置进度，但获得{{player.openft + 1}}阶因子能量。<br>
							<span v-if="player.unlft == player.openft">坍缩后，将解锁新的因子层级。</span><br>
						</button>
					</div>
					<div class="chalpara" style="position: absolute; top: 0; left: 53%; width: 45%; height: 150px; overflow-x: auto; overflow-y: auto;">
						<table style="width: 100%; overflow-x: auto; overflow-y: auto;">
							<td v-for="i in ftu" style="float: left;"><button v-if="getftuunlock(player.openft, i.id)" class="suppupgbt" :onclick="'buyftu(player.openft, ' + i.id + ')'" :style="getftustyle(player.openft, i.id)" v-html="i.title + '<br>' + ftu[i.id].description(player.openft) + '<br>' + notation(ftu[i.id].cost(player.openft)) + ' ' + player.openft + '阶因子能量'"></button></td>
						</table>
					</div>
					<div class="chalpara" style="position: absolute; top: 160px; left: 2%; width: 45%; height: 150px; overflow-x: auto; overflow-y: auto;">
						<table style="width: 100%; overflow-x: auto; overflow-y: auto;">
							<td v-for="i in ftbuyables" style="float: left;"><button v-if="getftbunlock(player.openft, i.id)" class="suppupgbt" :onclick="'buyftb(player.openft, ' + i.id + ')'" :style="getftbstyle(player.openft, i.id)">{{getftbscaltitle(player.openft, i.id)}}{{i.title}}[{{(!ftbdefined(player.openft, i.id) ? '0' : notation(player.ft[player.openft].buyables[i.id]))}}]<br><span v-html="ftbuyables[i.id].description(player.openft)"></span><br>{{notation(ftbcost(player.openft, i.id))}} {{player.openft}}阶因子能量</button></td>
						</table>
					</div>
				</div>
			</div>
		</div>
		</div>
		
		</div>
		</div></div>
		
		<script type="text/javascript" src="break_eternity.js"></script>
		<script type="text/javascript" src="pako.js"></script>
		<script type="text/javascript" src="tech.js"></script>
		<script type="text/javascript" src="vue.js"></script>
		<script type="text/javascript" src="component.js"></script>
		
		<script type="text/javascript" src="display.js"></script>
		<script type="text/javascript" src="achievement.js"></script>
		<script type="text/javascript" src="prestige.js"></script>
		<script type="text/javascript" src="suppupg.js"></script>
		<script type="text/javascript" src="std_model.js"></script>
		<script type="text/javascript" src="ascend.js"></script>
		
		<script type="text/javascript" src="game.js"></script>
	</body>
</html>