.slicetext {
  animation: corrupted_text 0.5s cubic-bezier(0.37, 0, 0.63, 1) infinite;
  font-size: 24px;
}

@keyframes corrupted_text {

  0%,
  100% {
	text-shadow: -7px -7px 7px #5555ff, 4px 4px 4px #ff5555;
	color: white;
  }

  25% {
	text-shadow: -7px 7px 7px #5555ff, 4px -4px 4px #ff5555;
	color: #eeddff;
  }

  50% {
	text-shadow: 7px 7px 7px #5555ff, -4px -4px 4px #ff5555;
	color: white;
  }

  75% {
	text-shadow: 7px -7px 7px #5555ff, -4px 4px 4px #ff5555;
	color: #ffddee;
  }
}
.ftsz1 {
	margin: 4px 2px;
	font-size: 12px;
	color: #ffffff;
}

.ftsz2 {
	margin: 4px 2px;
	font-size: 16px;
	color: #ffffff;
}

.ftsz3 {
	margin: 4px 2px;
	font-size: 24px;
	color: #ffffff;
}

.ftsz4 {
	margin: 4px 2px;
	font-size: 32px;
	color: #ffffff;
}

.ftsz5 {
	margin: 4px 2px;
	font-size: 48px;
	color: #ffffff;
}

.ftsz6 {
	margin: 4px 2px;
	font-size: 64px;
	color: #ffffff;
}

.pagebt {
	background-color: black;
	height: 50px;
	width: 100%;
	border: 4px solid white;
	color: white;
	padding: 10px;
	text-align: center;
	font-size: 16px;
	opacity: 1;
}

.pagebt:hover {
	opacity: 0.5;
}

.spagebt {
	background-color: black;
	height: 30px;
	width: 80px;
	border: 2px solid white;
	color: white;
	padding: 5px;
	text-align: center;
	font-size: 9px;
	opacity: 1;
}

.spagebt:hover {
	opacity: 0.5;
}

.ach {
	background-color: black;
	height: 70px;
	width: 70px;
	border: 1px solid white;
	color: white;
	font-size: 11px;
}

.button-wrapper {
	position: relative;
	display: inline-block;
	color: white;
	font-size: 12px;
}

.hover-box {
	position: absolute;
	top: -50px; /* Adjust this to position the box correctly */
	left: 0;
	width: 100%; /* Adjust this to match the button width */
	background-color: black;
	padding: 10px;
	border: 1px solid #ccc;
	display: none; /* Initially hide the box */
}

.button-wrapper:hover .hover-box {
	display: block; /* Show the box on hover */
}

@keyframes flash-red {
	0%, 100% {
		background-color: black;
	}
	50% {
		background-color: red;
	}
}

.news {
	border: 2px solid white;
	color: white;
	background: black;
	float: center;
	width: 90%;
	height: 18px;
	overflow: hidden;
}

.newstext {
	position: absolute;
	font-size: 12px;
	color: white;
	top: 25%;
	left: 100%;
	white-space: nowrap;
}


.buymaxjd {
	background-color: black;
	height: 30px;
	width: 200px;
	border: 2px solid white;
	color: white;
	padding: 4px;
	text-align: center;
	font-size: 12px;
	float: center;
}

.buyjd {
	background-color: black;
	height: 30px;
	width: 200px;
	border: 2px solid white;
	color: white;
	padding: 4px;
	text-align: center;
	font-size: 12px;
	float: right;
}

.autobuybt {
	background-color: black;
	height: 30px;
	width: 100px;
	border: 2px solid white;
	color: white;
	padding: 4px;
	text-align: center;
	font-size: 12px;
	float: right;
}

.boostbt {
	background-color: black;
	height: 150px;
	width: 200px;
	border: 3px solid white;
	color: white;
	padding: 10px;
	text-align: center;
	font-size: 14px;
}

.autoboost {
	background-color: black;
	height: 30px;
	width: 200px;
	border: 2px solid white;
	color: white;
	padding: 4px;
	text-align: center;
	font-size: 12px;
}

.PL1bt {
	background-color: blue;
	height: 150px;
	width: 200px;
	border: 3px solid white;
	color: white;
	padding: 10px;
	text-align: center;
	font-size: 14px;
	float: center;
}

.PL2bt {
	background-color: purple;
	height: 150px;
	width: 200px;
	border: 3px solid white;
	color: white;
	padding: 10px;
	text-align: center;
	font-size: 14px;
	float: center;
}

.PL3bt {
	background-color: gold;
	height: 150px;
	width: 200px;
	border: 3px solid white;
	color: white;
	padding: 10px;
	text-align: center;
	font-size: 14px;
	float: center;
}

.PL4bt {
	background-color: white;
	height: 150px;
	width: 200px;
	border: 3px solid grey;
	color: black;
	padding: 10px;
	text-align: center;
	font-size: 14px;
	float: center;
}

.slicebt {
	background-color: black;
	height: 150px;
	width: 200px;
	border: 5px solid white;
	color: white;
	padding: 10px;
	text-align: center;
	font-size: 14px;
	float: center;
}

.unlock_origin {
	background-color: black;
	height: 120px;
	width: 180px;
	border: 2px solid white;
	color: white;
	padding: 8px;
	text-align: center;
	font-size: 12px;
	float: center;
}

.PL2mlstbt {
	background-color: white;
	height: 150px;
	width: 200px;
	border: 5px solid purple;
	color: black;
	padding: 10px;
	text-align: center;
	font-size: 14px;
	float: center;
}

.PL2mlstgetbt {
	background-color: purple;
	height: 150px;
	width: 200px;
	border: 5px solid white;
	color: white;
	padding: 10px;
	text-align: center;
	font-size: 14px;
	float: center;
}

.gnbt {
	background-color: black;
	height: 100px;
	width: 400px;
	border: 3px solid gold;
	color: white;
	padding: 5px;
	text-align: center;
	font-size: 16px;
	float: center;
}

.permupg {
	background-color: black;
	height: 40px;
	width: 40px;
	border: 2px solid white;
	color: white;
	padding: 4px;
	font-size: 12px;
	float: center;
}

.chalpara {
	background-color: black;
	height: 120px;
	width: 200px;
	border: 2px solid white;
	padding: 5px;
	font-size: 12px;
	float: center;
	color: white;
}

.spill {
	text-shadow: 1px 1px 3px white, -1px -1px 3px white, 0 0 24px white
}

.reaction {
	height: 30px;
	width: 100%;
	color: white;
	background: linear-gradient(to right, blue 0%, blue 50%, orange 50%, orange 100%);
	float: center;
}

.reactbar {
	height: 100%;
	width: 100%;
	color: white;
	background: white;
	float: right;
}

@keyframes elements {
	0%, 100% {
		border-color: #ff0000;
		background-color: #006666;
	}
	33% {
		border-color: #00ff00;
		background-color: #660066;
	}
	66% {
		border-color: #0000ff;
		background-color: #666600;
	}
}

@keyframes bhbutton {
	0%, 100% {
		background-color: black;
		color: white;
	}
	40% {
		background-color: black;
		color: white;
	}
	50% {
		background-color: white;
		color: black;
	}
	90% {
		background-color: white;
		color: black;
	}
}

.exchal {
	width: 60px;
	height: 60px;
	color: white;
	border: 1px solid white;
	background-color: grey;
	font-size: 20px;
}

.suppupgbt {
	background-color: black;
	height: 125px;
	width: 150px;
	border: 3px solid white;
	color: white;
	padding: 5px;
	text-align: center;
	font-size: 11px;
}

@keyframes vdata {
	0% 100% {
		color: #ff0000;
	}
	16.67% {
		color: #888800;
	}
	33.33% {
		color: #00ff00;
	}
	50% {
		color: #008888;
	}
	66.67% {
		color: #0000ff;
	}
	83.33% {
		color: #880088;
	}
}

.voidupg {
	background-color: white;
	height: 150px;
	width: 200px;
	border: 3px solid grey;
	color: black;
	padding: 10px;
	text-align: center;
	font-size: 14px;
	float: center;
}

.news { /*滚动新闻*/
    color: #ffffff;
    width: 90%;
    left: 5%;
    top: 4px;
    bottom: 4px;
    height: 20px;
    position: relative;
    border: 2px solid #cccccc;
    border-radius: 6px;
    background-color: black;
    padding-top: 4px;
    padding-bottom: 4px;
    font-size: 16px;
    overflow: hidden;
}

.newsContent {
    height: 20px;
    position: absolute;
}

@font-face {
    font-family: MonospaceTypewriter, Typewriter, monospace;
    src: url("MonospaceTypewriter") format("truetype");
}

.mask {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 1;
	z-index: 9999;
  }
  
.particle {
	background-color: black;
	height: 200px;
	width: 80%;
	border: 5px solid white;
	color: white;
	padding: 10px;
	text-align: center;
	font-size: 15px;
	float: center;
}

.ascendtext {
  animation: ascend_corrupted_text 5s cubic-bezier(0.37, 0, 0.63, 1) infinite;
}

@keyframes ascend_corrupted_text {

  0%, 100% {
	text-shadow: 0px 0px 0px white;
	color: white;
  }

  10% {
	text-shadow: 0px 0px 5px red;
	color: white;
  }

  50% {
	text-shadow: 0px 0px 24px #ff0000;
	color: red;
  }

  90% {
	text-shadow: 0px 0px 2px #ff0000;
	color: red;
  }
}

.astbt {
	background-color: black;
	height: 125px;
	width: 150px;
	border: 3px solid white;
	color: white;
	padding: 5px;
	text-align: center;
	font-size: 11px;
	position: absolute;
}

.astbrbt {
	background-color: white;
	height: 10px;
	border: 3px solid white;
	color: white;
	position: absolute;
}